<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="amqmdnet" publicKeyToken="dd3cb1c9aae9ec97" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.7" newVersion="8.0.0.7"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="amqmdnsp" publicKeyToken="4ec3909022c7abcc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.7" newVersion="8.0.0.7"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
